#pngDiv{width: 228px; height: 144px;}
a.btn,a.btn:hover{display:block; width: 60px; padding: 4px; margin-right: 10px;font-size: 12px;color: #ffffff;background: #666666;text-align: center;cursor: pointer;float: left;}